
.container{
    margin: 0 auto;
    max-width:400px;
    text-align: center;
}
.chatInputButton{
    margin-bottom: 20px;
}

.chatInputButton input{
    width: 70%;
    height:25px;
    margin-bottom: 2px;
    border: 2px solid #aaa;
    border-radius: 4px;

}
.chatInputButton input:focus{
    border: none;
    outline: 3px solid cyan;
}

.chatInputButton button{
    margin-left: 180px;
    padding:10px;
    background-color:orange;
    border: orange;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.chatInputButton button:hover{
    opacity: 0.8;
}

.chat{
    border:5px solid dimgray;
    border-radius: 10px;
    padding: 10px;
    height: 500px;
    overflow: scroll;
}

.chatArea{
    text-align: left;
    margin: 10px 0;
    overflow-wrap: break-word;
    border-left: 3px solid orange;
    border-bottom: 1px solid silver;
}
